<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <table id="mytable">
            <tr>
                <th>Name</th>
                <th>Affiliation</th>
                <th>Allegiance</th>
            </tr>
        </table>
        <script>


            $(document).ready(function (){
                $.getJSON('/allegiances', function(data){

                    data.forEach(element =>{
                        table = document.getElementById("mytable");
                        newrow = document.createElement("tr");
                        table.appendChild(newrow);

                        name_ = document.createElement("td"); //name is a keyword which caused a bug so renamed to name_
                        name_.innerHTML = element['Name'];
                        newrow.appendChild(name_);

                        affiliation = document.createElement("td");
                        affiliation.innerHTML = element['Affiliation'];
                        newrow.appendChild(affiliation);

                        allegiance = document.createElement("td");
                        allegiance.innerHTML = element['Allegiance'];
                        newrow.appendChild(allegiance);
                        
                    });
                    
                });
            });
        </script>
    </body>

</html>